.menu__has-message {
    background-color: #DCFF50;
    font-size: 10px;
    color: #151515;
    line-height: 12px;
    position: relative;
    top: -8px;
    left: 6px;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    text-align: center;
}