.opinions__card-author {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}