.header{
    background-color: #0F0E0E;
    min-height: 48px;
    width: 100%;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    color: #999999;
    text-rendering: optimizeLegibility;
    font-family: 'Inter', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1081px;
    padding: 0 calc((100vw - 1081px)/2);
}